* {
    padding: 0;
    margin: 0;
} 

.skill1 {
	background: url(../img/skill1.png) no-repeat 0 0;
	width: 242px;
	height: 27px;
	margin-bottom: 10px;
}

.skill2 {
	background: url(../img/skill2.png) no-repeat 0 0;
	width: 200px;
	height: 27px;
	margin-bottom: 10px;
}

.skill3 {
	background: url(../img/skill3.png) no-repeat 0 0;
	width: 220px;
	height: 27px;
	margin-bottom: 10px;
}

.skill4 {
	background: url(../img/skill4.png) no-repeat 0 0;
	width: 180px;
	height: 27px;
	margin-bottom: 10px;
}

.skill5 {
	background: url(../img/skill5.png) no-repeat 0 0;
	width: 220px;
	height: 27px;
	margin-bottom: 10px;
}




.skills p {
padding: 4px 0 0 10px;
color: #fff;
font-size: 15px;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

body {
background: #fff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 18px;
color: #333333;;
}

h1,h2,h3,h4{
	margin: 0px;
	
}

img.small-log{
	width: 64px;
	height: 64px;
}
img { border: none; }
a { color: #202080; text-decoration: none; }
a:hover { text-decoration: underline; color : #000; }

#wrap {
width: 1000px;
margin: 40px auto;
}

#header {
height: 40px;
}

#header h1 {
padding: 0 0 0 20px;
font-size: 20px;
letter-spacing: -2px;
}
#header h1 a {
color: #202080;
text-decoration: none;
}
#header h1 a:hover {
text-decoration: none;
color: #802020;
}
#header h2 {
padding-left: 21px;
font-size: 14px;
color: #666;
font-weight: 100;
}

#top {
background: #fff url(images/top.gif) no-repeat;
padding: 5px 0;
}

#menu {
height: 50px;
line-height: 50px;
background: #33BFEB url(images/menu-BLUE.png) no-repeat;
font-size: 12px;
}
#menu ul {
padding-left: 20px;
list-style-type: none;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
color: #fff;
padding: 0 10px;
text-decoration: none;
font-weight: 600;
}
#menu ul li a:hover {
color: #fff;
text-decoration: underline;
}

#content {
padding: 10px 10px;
background: #fff url(images/content-BLUE.png) repeat-y;
}
.right {
float: right;
width: 640px;
text-align: justify;
padding: 0 20px 10px 10px;
}
.right h2 {
color: #333;
font-size: 20px;
letter-spacing: -1px;
font-weight: 100;
padding : 15px 0 15px 0;
}
.right h5 {
	padding: 0px;
	margin: 0px;
}
.right h2 a {
color: #202080;
text-decoration: none;
}
.right h2 a:hover {

}
.right ul {
list-style-type: square;
padding: 5px 10px 10px 20px;
}
.left {
float: left;
width: 240px;
padding: 10px;
}
.left h2 {
font-size: 13px;
color: #333;
padding: 5px 0 2px 10px;
}
.left ul {
list-style-type: none;
padding: 5px 0 10px 5px;
}
.left ul li {
padding: 2px 20px;
background: transparent url(images/apple.gif) no-repeat;
}

.social_plugin {
	width: 90%;
	padding: 30px;
}

.left ul li a {
display: block;
color: #444;
}
.left ul li a:hover {
color: #33BFEB;
}

#bottom {
background: #fff url(images/bottom.gif) no-repeat;
padding: 10px 0;
}

#footer {
text-align: center;
color: #666;
font-size: 11px;
}
#footer  a { color: #666; }